# default group
* @pcdshub/xbd-members @pcdshub/motion-sme

# language-specific group(s)
## TWINCAT files
*.tsproj @pcdshub/xbd-members @pcdshub/motion-sme @pcdshub/twincat-reviewers
*.plcproj @pcdshub/xbd-members @pcdshub/motion-sme @pcdshub/twincat-reviewers
*.tmc @pcdshub/xbd-members @pcdshub/motion-sme @pcdshub/twincat-reviewers
*.tpr @pcdshub/xbd-members @pcdshub/motion-sme @pcdshub/twincat-reviewers
*.xti @pcdshub/xbd-members @pcdshub/motion-sme @pcdshub/twincat-reviewers
*.TcTTO @pcdshub/xbd-members @pcdshub/motion-sme @pcdshub/twincat-reviewers
*.TcPOU @pcdshub/xbd-members @pcdshub/motion-sme @pcdshub/twincat-reviewers
*.TcDUT @pcdshub/xbd-members @pcdshub/motion-sme @pcdshub/twincat-reviewers
*.TcGVL @pcdshub/xbd-members @pcdshub/motion-sme @pcdshub/twincat-reviewers
*.TcVis @pcdshub/xbd-members @pcdshub/motion-sme @pcdshub/twincat-reviewers
*.TcVMO @pcdshub/xbd-members @pcdshub/motion-sme @pcdshub/twincat-reviewers
*.TcGTLO @pcdshub/xbd-members @pcdshub/motion-sme @pcdshub/twincat-reviewers

# github folder holds administrative files
.github/** @pcdshub/software-admin
